.crudHeading {
  text-align: center;
}

.empTable {
  margin: auto;
  text-align: center;
}

.empTable th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

.inputContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonsContainer {
  margin: 2% auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.button {
  padding: 5px 8px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  color: white;
}

.button:hover {
  box-shadow: 1px 2px 4px grey;
}

.getData {
  background-color: rgb(48, 220, 48);
}

.addEmp {
  background-color: rgb(48, 134, 220);
}

.updateEmp {
  background-color: rgb(220, 166, 48);
}

.clearFields {
  background-color: rgb(220, 97, 48);
}

.selectEmp {
  background-color: rgb(220, 48, 200);
  margin: 0 5px;
}

.deleteEmp {
  background-color: rgb(223, 3, 3);
  margin: 0 5px;
}
