.toDoContainer {
  text-align: center;
  margin: 2% 20%;
}

.inputContainer {
  margin: 2% 30%;
}

.toDoHeading {
  text-align: center;
}

.listItem {
  list-style: none;
  text-align: left;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2px auto;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.button {
  padding: 5px 8px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  color: white;
}

.button:hover {
  box-shadow: 1px 2px 4px grey;
}

.addToDo {
  background-color: rgb(48, 134, 220);
}

.deleteToDo {
  background-color: rgb(223, 3, 3);
  width: fit-content;
}
